{% extends 'base.html.twig' %}



{% block body %}
    {% image 'images/PourOneOutBacker.jpeg' %}
    <img src="{{ asset_url }}" class="bg" alt="Example" />
    {% endimage %}

    <div class="containerOne">
        <div class="center-sell">
            <div class="center-float"><h1 class="font-changes">This One's For You</h1></div>
            <div class="descript">
                <p class="descript font-changes">Pay us money, and we will pour a drink on the ground out of respect for a friend or family member</p>
            </div>
            <div class="button-panel">
                <p class="button-font">Pay Your Respects</p>
            </div>
        </div>
    </div>
{% endblock %}

