{% extends 'base.html.twig' %}



{% block body %}
    {% image 'images/PourOneOutBacker.jpeg' %}
    <img src="{{ asset_url }}" class="bg" alt="Example" />
    {% endimage %}
<div class="container">
    <div class="row">
        <div class="col-lg-4" style="background-color: #00CC00;">Hey</div>
        <div class="col-lg-4" style="background-color: #00CC00;">Hey HABSDKJHBVASHGDVAJHSG</div>
        <div class="col-lg-4" style="background-color: #00CC00;">Hey LJHBASDKJHVASK</div>
    </div>
    <div class="row containerOne">
        <div class="col-lg-4" ></div>
        <div class="col-lg-4" style="background-color: #00CC00;">

        </div>
        <div class="col-lg-4" ></div>
    </div>


<div class="row">Hey</div>
    <div class="row">Hey</div>
    </div>
    <div class="containerOne">
        <div class="center-sell" style="background-color: #00CC00;">
            <div><h3>This One's For You</h3></div>
            <div>
                <p>Pay us money, and we will pour a drink on the ground out of respect for a friend or family member</p>
            </div>
            <div>
                <button type="button">How Does It Work?</button>
                <button type="button">About Us</button>
                <button type="button">Pay Your Respects</button>
            </div></div>
    </div>
{% endblock %}

